{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/c1.css' %}">
    </head>
    <body>
        <h1>Indian Cricket Team 2023</h1>
        <br>
        <h2>Top Order Batsman</h2>
        <div>
            <img src="{% static 'images/r1.jpeg'%}" alt="Image not found">
            <img src="{% static 'images/g1.avif'%}" alt="Image not found">
            <img src="{% static 'images/v1.webp'%}" alt="Image not found">
        </div>
        <h2>Middle Order Batsman</h2>
        <div>
            <img src="{% static 'images/shreyas.webp'%}" alt="Image not found">
            <img src="{% static 'images/kl.webp'%}" alt="Image not found">
            <img src="{% static 'images/surya.avif'%}" alt="Image not found">
        </div>
        <h2>Fast Bowler</h2>
        <div>
            <img src="{% static 'images/jasprit.webp'%}" alt="Image not found">
            <img src="{% static 'images/siraj.jpg'%}" alt="Image not found">
            <img src="{% static 'images/shami.avif'%}" alt="Image not found">
        </div>
        <h2>Spin Bowler</h2>
        <div>
            <img src="{% static 'images/jaddu.avif'%}" alt="Image not found">
            <img src="{% static 'images/kuldeep.avif'%}" alt="Image not found">
        </div>
    </body>
</html>