<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
       <h1>Hello Champions</h1>
       <div>
            <table>
                <thead>
                    <tr>
                        <td><h1>Players Name</h1></>
                   </tr>
               </thead>
               <tbody>
                <tr>
                    <td><h3>Rohit Sharma</h3></td>
                </tr>
                <tr>
                    <td><h3>Shubhman Gill</h3></td>
                </tr>
                <tr>
                    <td><h3>Virat Kohli</h3></td>
                </tr>
                <tr>
                    <td><h3>Shreyas Iyer</h3></td>
                </tr>
                <tr>
                    <td><h3>KL Rahul</h3></td>
                </tr>
                <tr>
                    <td><h3>SuryaKumar Yadav</h3></td>
                </tr>
                <tr>
                    <td><h3>Ravindra Jadeja</h3></td>
                </tr>
                <tr>
                    <td><h3>Kuldeep Yadav</h3></td>
                </tr>
                <tr>
                    <td><h3>Jasprit Bumrah</h3></td>
                </tr>
                <tr>
                    <td><h3>Mohd Siraj</h3></td>
                </tr>
                <tr>
                    <td><h3>Mohd Shami</h3></td>
                </tr>
               </tbody>
           </table>
        </div>
    </body>
</html>