<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Happy</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <center>
        <h1>Calling ....</h1>
        <h1>Pick Up</h1>
        <h1>Call End</h1>
    
        <a href="{% url 'Riya' %} ">
            Response From Riya
        </a>
        <br>
        <a href="{% url 'Happy2' %} ">
            Response From Happy2
        </a>
    </center>

    </body>
</html>