{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Riya</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <center>
        <h1>Shouting to sushant....</h1>
        <img src="{% static 'images/sushant.jpeg'%}" alt="Image not Found" height="400px" width="400px">
        <h1>Running</h1>
        <h1>End Run</h1>
        <a href="{% url 'Happy' %} ">
            Response From Happy
        </a>
        <br>
        <a href="{% url 'Riya' %} ">
            Response From Riya
        </a>
    </center>
    </body>
</html>