{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Rohit</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/s1.css'%}">
    </head>
    <body>
        <h1>Rohit Sharma</h1>
        <img src="{% static 'images/r1.jpeg'%}" alt="Image not found" height="350px" width="350px">
    </body>
</html>