{% load static %}
<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Happy</title>
        <link rel="stylesheet" href="">
        <style>
            h1
            {
                color:aqua;
            }
        </style>
    </head>
    <body>
        <center>
            <h1>Mahendra Singh Dhoni</h1>
            <img src="{% static 'images/dhoni4.webp'%}" alt="Image not found" height="300px" width="300px">
            <h1>Thala Of Chennai Super Kings</h1>
        </center>

    </body>
</html>