<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <center>
        <h1>!! Filter !!</h1>
            <h2>{{data}}</h2>
            <h2>{{data|lower}}</h2>
            <h2>{{data|upper}}</h2>
            <h2>{{data|title}}</h2>
            <h2>{{data|capfirst}}</h2>
            <h2>{{data|length}}</h2>
            <h2>{{data|truncatechars:'4'}}</h2>
            <h2>{{data|slice:'3'}}</h2>
            <h2>{{data|date}}</h2>


        </center>
    </body>
</html>