<!DOCTYPE html>
<html>
    <head>
        <title>HomePage</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <table>
            <tr>
                <th>Name</th>
                <th>Designation</th>
                <th>Email</th>
                <th>Company_Name</th>
            </tr>
        </table>
        <h1>Happy Christmas Day</h1>
    </body>
</html>