<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <br>
        <br>
        <center>
            <h1>!! Select Multiple Education Options !!</h1>
        <br>
        <form method=="POST">
            {% csrf_token %}
        <label for="Education">Education</label>
          <select name="Education" id="Education">
          {% for ed in Education %}
            <option value="{{ed.Education}}">{{ed.Education}}</option>
        {% endfor %}
          </select>
          <br>
          <br>
          <input type="Submit">
        </form>
    </center>
    </body>
</html>