h1
{
    color: brown;
    text-align: center;
}
body
{
    background-color: green;
}
img
{
    height: 400px;
    width: 400px;
    padding: 15px;
    cursor: pointer;
    
}
h2
{
    color: blue;
    text-align: center;
}