<!-- {% extends 'vehicle/base.html' %}

{% block title %} Vehicle List {% endblock %}


{% block content %}
    <center>
        <h2>Vehicle List</h2>
    </center>

        <table class="table table-striped">

          <thead>
            <tr>
              <th scope="col">Vehicle Number</th>
              <th scope="col">Vehicle Driver Name</th>

            </tr>
          </thead>
          <tbody>
              {% for vehicle in vehicles %}
              <tr>
              <td>{{ vehicle.vehicle_number }}</td>
              <td>{{ vehicle.driver_name }}</td>
            </tr>
              {% endfor %}

          </tbody>
        </table>
{% endblock %} -->